# ==========================
# Sistema Operacional
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Visual Studio Code
# ==========================

.vscode/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Arquivos temporários
# ==========================

*.tmp
*.temp
*.bak
*.swp

# ==========================
# Node.js (caso um dia utilize)
# ==========================

node_modules/

# ==========================
# Variáveis de ambiente
# ==========================

.env
.env.*

# ==========================
# Credenciais
# ==========================

credentials.json
token.json

# ==========================
# Python (caso utilize)
# ==========================

__pycache__/
*.pyc